@import url("https://use.typekit.net/cvq0cqr.css");

body {
  justify-content: center;
  align-items: center;
  background-image: url('https://p-w.ams3.digitaloceanspaces.com/6747/bg2.png');
  background-size: cover;
  background-position: bottom 0px right 0px;
  background-color: black;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-size: 6vw;
}

  h1 {
    font-family: "dinosaur", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12vw;
    line-height: 1;
    mix-blend-mode:screen;
    opacity: 0.8;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 1vh;
    margin-top: 0;
    }

  .white {
    color: #fdfdef;
    }

.play-button {
  display: block;
  margin: auto;
  margin-top: 1vh;
  text-align: center;
  color: white;
  font-size: 4rem;
  line-height: 1;
  width: 8rem;
  height: 8rem;
  background-color: transparent;
  border-radius: 50%;
  border: 0.2rem solid rgba(255, 255, 255, 0.8);
  mix-blend-mode: screen;
}

.question {
  top: 2rem;
  right: 2rem;
  
}