@import url("https://use.typekit.net/cvq0cqr.css");

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 1vw;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://p-w.ams3.digitaloceanspaces.com/6747/bg2.png');
    background-size: cover;
    background-position: bottom 0px right 0px;
    background-color: black;
    overflow: hidden;
  }

  h1 {
    font-family: "dinosaur", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12vw;
    mix-blend-mode: overlay;
    text-align: center;
    }

  .white {
    color: #fdfdef;
    }